.hero-background{
    background: linear-gradient(to right, #000000, #323232);
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: sticky;
}

.hero-info{
    color: #a4b5c6;
    margin-bottom: 25px;
    line-height: 1.6;
}

.hero-tittle{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #0099ff, #06326c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-icon {
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #040404;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background: linear-gradient(45deg, #0099ff, #06326c) !important ;
    transform: translateY(-3px);
    color: #ffffff !important;
}

.hero-gif {
    max-width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;   
    margin: 20px auto;
    border: 3px solid #3498db;
}

