.hero-background{
    background: linear-gradient(to right, #939393, #0b3a69);
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.social-icon {
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #040404;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background: #000000 !important ;
    transform: translateY(-3px);
    color: #ffffff !important;
}

